.mtn--30 {
    margin-top: -30px;
}

.mtn--40 {
    margin-top: -40px;
}

.mtn--50 {
    margin-top: -50px;
}

.mtn--60 {
    margin-top: -60px;
}

.mtn--70 {
    margin-top: -70px;
}

.mtn--100 {
    margin-top: -100px;
}